@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
}
.header
{
   width: 100%;
   height: 70px;
 background-color: grey;
   display: flex;
   padding-left: 10%;
   padding-right: 10%;
   padding: 0px 10%;
   justify-content: space-between;
}
 
.logo
{
width: 15%;
height: 70px;
/*background-color: yellow;
justify-content: center;*/
display: flex;
align-items: center;
font-family: 'Montserrat', sans-serif;
font-size: large;
}
.nav
{
    width: 30%;
    height: 70px;
    /*background-color: blue;*/
}
.nav-links
{
    height: 70px;
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: large;

}
.nav-links:hover
{
  background-color: transparent;
  color: bisque;
  transition: .2s;
}
.banner
{
    width: 100%;
    height: 700px;
    background-color: grey;
    padding: 30px 10%;
    display: flex;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
}
.details
{
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    padding: 20px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}
.p1
{  
    font-size: 20px;
}
.p2
{
    font-size:40px;
    font-weight: 700;
    color: bisque;
}
.desc
{
   font-size: 30px;
}
.cta
{
    padding: 15px 40px;
    font-size: 20px;
    margin-top: 35px;
    background-color: bisque;
    color: black;
    border: 2px solid bisque;
    border-radius: 10px;
    cursor: pointer;
    
}
.cta:hover
{
    background-color: transparent;
    color: bisque;
    transition: .2s;
}
.cta2
{
    padding: 15px 40px;
    font-size: 20px;
    margin-top: 35px;
    background-color: bisque;
    color: black;
    border: 2px solid bisque;
    border-radius: 10px;
    cursor: pointer;  
}
.cta2:hover
{
    background-color: transparent;
    color: bisque;
    transition: .2s;
}
.person
{
    width: 35%;
    background-color: bisque;
    border-radius: 30px;
    
}
.person-img
{
    height: 300px;
}
.Services
{
    width: 100%;
    padding: 30px 5%;
    /*background-color: darkturquoise;*/
}
.section-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.section-child
{
    width: 100%;
    padding: 30px 0px;
    /*background-color: peachpuff;*/
    margin-top: 30px;
    display: flex;
    column-gap: 4%;
}
.servise
{
    width: 100%;
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    row-gap: 15px;
    box-shadow: 0 0 2px gray ;
    border-radius: 10px;
}
.icon
{
    padding: 50px;
    font-size: 60px;
    align-self: center;
    color: darkgray;

}
.service-text
{
    font-size: 15px;
}
.service-btn
{
  padding: 12px 25px;
  background-color: bisque;
  border: none;
  border-radius: 10px;
}
.service-btn:hover
{
    background-color: gray;
    color: bisque;
    transition: .2s;
}
.achievements
{
    padding: 30px 10%;
    /*background-color: aquamarine;*/
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
.achievement
{
    width: 200px;
    height: 200px;
    /*background-color: bisque;*/
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px gray ;
}
.number
{
    font-size: 50px;
   
    font-weight: bold;
}
.tag
{
    font-size: large;
  
}

.clients 
{
    width:100%;
    padding: 30px 10%;
    /* background-color: red; */
}

.client-section-child
{
    /* background-color: white; */
    column-gap: 5%;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 30px;
}

.client-img
{
    width: 8%;
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;
    
}

.client-img:hover 
{
    filter: grayscale(0);
    transform: scale(1.2);
}

/* footer css  */


.footer  
{
    width: 100%;
    padding: 30px 10%;
   background-color: #4a4a4a;
   font-family: 'Montserrat', sans-serif;
   color: white;
}



.footer-child
{
    width: 22%;
    padding: 20px 50px;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-list
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.map 
{
    width: 46%;
    padding: 0;
}